<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.tees.amazeballs"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="uk.ac.tees.amazeballs.MainGameActivity" android:label="@string/app_name">
        </activity>
        <activity android:name="uk.ac.tees.amazeballs.MazeEditorActivity" android:label="@string/title_activity_maze_editor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".menus.LevelSelect"></activity>    
        <activity android:name=".menus.Highscores"></activity>
        <activity android:name=".menus.Settings"></activity>
    </application>

</manifest>
